---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Impressum"
	description=""
	pubDate={new Date('Feb 08 2025')}
	heroImage=""
>
	<p>Angaben gemäß § 5 TMG:</p>
	<p><strong>Name des Betreibers:</strong><br>
		Thomas Horster
	<p><strong>Adresse:</strong><br>
		Alfred-Kästner-Straße 22<br>
		04275 Leipzig<br>
		Deutschland</p>

	<p><strong>Kontakt:</strong><br>
		E-Mail: <span id="email"></span>
		<script>
			const user = 'thomas.horster';
			const domain = 'kulturlounge.de';
			const email =document.getElementById('email');

			if (email) {
				email.innerHTML = `<a href="mailto:${user}@${domain}">${user}@${domain}</a>`;
			}
		</script>

	<p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
		[Dein Vorname und Nachname]</p>

	<h2>Haftungsausschluss</h2>
	<p>Die Inhalte dieses Blogs wurden mit größter Sorgfalt erstellt. Dennoch übernimmt der Betreiber keine Gewähr für die Vollständigkeit, Richtigkeit und Aktualität der bereitgestellten Informationen. Für externe Links, auf die innerhalb dieses Blogs verwiesen wird, übernimmt der Betreiber keine Verantwortung. Die verlinkten Seiten unterliegen der Haftung der jeweiligen Betreiber.</p>

	<h2>Urheberrecht</h2>
	<p>Die auf diesem Blog veröffentlichten Inhalte, Bilder und Texte unterliegen dem Urheberrecht. Eine Vervielfältigung, Verbreitung oder sonstige Nutzung der Inhalte ist nur mit ausdrücklicher Zustimmung des Betreibers oder des jeweiligen Urheberrechtsinhabers gestattet.</p>

	<h2>Datenschutz</h2>
	<p>Details zum Datenschutz findest du in der <a href="[Link zur Datenschutzerklärung]" target="_blank">Datenschutzerklärung</a> auf dieser Website.</p>

</Layout>
